/* NOTE: this file is all filled in for you - this is the starting set of styles */

.container {
  background-color: cornsilk;
  border: 10px solid;
  min-height: 600px;
  margin: auto;
  width: 1200px;
}

.box {
  height: 300px;
  width: 300px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
